includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    excludePaths:
        - app/Concerns/*

    level: 5

    tmpDir: /tmp/phpstan
